extends layout

block content
	section
		h1 HTML IMAGE FUCK YEAH!
		p If you're here, you've given up.
		p You're an instrument.
		p You have no energy left to reason.
		p Give them what they want - an image saved as HTML markup.
		form(action="/pinkman", class="dropzone" method="post", enctype="multipart/form-data")
		script(type='text/javascript', src='js/lib/dropzone.min.js')
		script(type='text/javascript', src='js/lib/jquery-2.1.4.min.js')


