extends layout

block content

  section
    #header
      .logo RASTERFY
        .social
          .twitter
            a(href="http://twitter.com/rasterfy", target="_blank")
          .github
            a(href="http://github.com/rasterfy", target="_blank")
    #content
      .copy
        p Take your glorious image and covert it into an HTML file.
        p Yes, thats right, we know - you’ve been waiting for this for a long time.
      .instructions
        p Drag your image into this here box and we’ll magically make it an HTML file for you. Just be careful the resulting file is kind of... big.
      form(action="/alright", id="imgdrop" class="dropzone" method="post", enctype="multipart/form-data")