doctype html
html
  head
    title HTML IMAGE FUCK YEAH!
    link(rel='stylesheet', href='/css/dropzone.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body

    block content
      
    script(type='text/javascript', src='js/lib/dropzone.min.js')
    script(type='text/javascript', src='js/lib/jquery-2.1.4.min.js')
    script(type='text/javascript', src='js/app.js')